

:root{
     --cor-de-fundo:  #9c0a44;
     --roxo: #7007ac;
     --branco: #c7094b;
     --botao-ativo: #470d97;
     --botao-inativo: rgba(216, 18, 216, 0.5);
     --texto-fundo:  rgba(236, 83, 170, 0.842);
}


body{

    background-color:  var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;


.conteudo.principal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    

}

}